<main class="container">
  <div class="row">
    <section class="col-xs-12 col-sm-4 col-lg-4 col-xl-4">
      <article class="main">
        <div class="col-12">
          <h2 class="">A grait story never told</h2>
          <p>It was a cold December morning, as I sat out on my porch I decided today was the day. </p>
          <p id="h2-data">
            <a href="">Thiago Luiz <span>-</span></a>
            <i class="fa fa-bookmark"></i>
              23 minute read
          </p>
        </div>
      </article>
    </section>
  </div>
</main>