@font-face {
  font-family: Arcon-Regular;
  src: url('../fonts/Arcon-Regular.otf')
}
@font-face {
  font-family: SourcerSansPro;
  src: url('../fonts/SourceSansPro-Semibold.otf')
}
@font-face {
  font-family: SourcerSansProBold;
  src: url('../fonts/SourceSansPro-Bold.otf')
}
@font-face {
  font-family: DroidSerif;
  src: url('assets/fonts/DroidSerif-Regular.ttf')
}
.main {
  border-top: 1px solid rgba(182,182,182,0.2);
  max-width:600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.main h2 {
  font-family: SourcerSansProBold;
  font-size: 3.2rem;
}
.main p {
  font-family: DroidSerif;
  font-size: 1.8rem;
}
.main a {
  color: #b6b6b6;
}
.main a:hover {
  transition-duration: 200ms;
  color: #2196F3;
}
.main i {
  color: #b6b6b6;
}
#h2-data {
  margin-top:5%;
  color: #b6b6b6;
}
.float{
  z-index: 1;
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#2196F3;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}
.my-float{
  margin-top:22px;
}
.modal-header {
  background-color: #2196F3;
  color: #fff;
}
.modal-header h5 {
  font-family: SourcerSansPro;
  font-size: 2rem;
}
.modal-footer .btn-primary {
  font-family: SourcerSansPro;
  background-color:#2196F3;
  border-color:#2196F3;
}
.modal-footer .btn-secondary {
  font-family: SourcerSansPro;
}