<main ng-controller="PostCtrl as pCtrl" class="container">
  <div class="row">
    <section class="col-xs-12 col-sm-4 col-lg-4 col-xl-4">
       <article class="main">
        <div class="row">
          <div class="col-10">
            <h2 class="">{{ pCtrl.post.type }}</h2>
            <p>{{ pCtrl.post.description }}</p>
            <p id="h2-data">
              <a href="{{ pCtrl.post.contact }}">{{ pCtrl.post.name }} <span>-</span></a>
              <i class="fa fa-bookmark"></i>
                {{ pCtrl.post.data }}
            </p>
          </div>
        </div>
      </article>

      <!-- <ci-post ng-repeat="post in pCtrl.posts" type="" description="" name=""
        contact="" data="">
      </ci-post> -->
      <ci-post type="asd" description="asd" name="asd"
        contact="asd" data="asd">
      </ci-post>

      <!-- <ci-post type="{{ pCtrl.post.type }}" description="{{ pCtrl.post.description }}" name="{{ pCtrl.post.name }}"
        contact="{{ pCtrl.post.type.contact }}" data="{{ pCtrl.post.type.data }}">
      </ci-post> -->
    </section>
  </div>
</main>