<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <h5 class="col-xs-10 col-sm-10 col-lg-10 col-xl-10 modal-title" id="myModalLabel">Postar objeto</h5>
          <button type="button" class="col-xs-1 col-sm-1 col-lg-1 col-xl-1 close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="found col-xs-6 col-sm-6 col-lg-6 col-xl-6">
            <div style="font-size:3em; color:#00BFA5">
              <i id="svg-found" class="fas fa-smile fa-3x"></i>
            </div>
          </div>
          <div class="lost col-xs-6 col-sm-6 col-lg-6 col-xl-6">
            <div style="font-size:3em; color:#FF6D00">
              <i id="svg-lost" class="fas fa-frown fa-3x"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Confirmar</button>
      </div>
    </div>
  </div>
</div>