<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10 col-sm-10 col-lg-10 col-xl-10 modal-title">
            <i class=""></i>
            <h5 id="myModalLabel">Você pode publicar um objeto.</h5>
          </div>
          <button type="button" class="col-xs-1 col-sm-1 col-lg-1 col-xl-1 close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <form ng-submit="pCtrl.register()">
          <div class="form-group">
            <label for="formGroupExampleInput">Nome</label>
            <input ng-model="pCtrl.post.name" type="text" class="form-control" id="formGroupExampleInput" placeholder="ex: João">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Contato</label>
            <input ng-model="pCtrl.post.contact" type="text" class="form-control" id="formGroupExampleInput2" placeholder="ex: whats/facebook">
          </div>
          <div class="form-group row">
            <div class="col-xs-8 col-sm-8 col-lg-8 col-xl-8">
              <div class="form-group">
                <label for="example-date-input" class="col-2 col-form-label">Data</label>
                <div class="col-10">
                  <input ng-model="pCtrl.post.date" class="form-control" type="date" value="2018-03-01" id="example-date-input">
                </div>
              </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-lg-4 col-xl-4">
              <label class="checkbox-inline">
                <input id="checkbox_f" type="checkbox" ng-click="pCtrl.checkboxFound()" value="">Achado
              </label>
              <label class="checkbox-inline">
                <input id="checkbox_l" type="checkbox" ng-click="pCtrl.checkboxLost()" value="">Perdido
              </label>
            </div>

          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Descrição</label>
            <textarea ng-model="pCtrl.post.description" ng-modal="pCtrl.post.description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="pCtrl.confirm()" >Confirmar</button>
      </div>
    </div>
  </div>
</div>
