@font-face {
  font-family: VarelaRound-Regular;
  src: url('../fonts/VarelaRound-Regular.ttf')
}
.nav {
  font-family: VarelaRound-Regular;
}
#signupModal .modal-signup {
  color: #636363;
  width: 350px;
}
#signupModal .modal-signup .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
#signupModal .modal-signup .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
#signupModal .modal-signup h4 {
  text-align: center;
  font-size: 26px;
}
#signupModal .modal-signup  .form-group {
  position: relative;
}
#signupModal .modal-signup i {
  position: absolute;
  left: 13px;
  top: 11px;
  font-size: 18px;
}
#signupModal .modal-signup .form-control {
  padding-left: 40px;
}
#signupModal .modal-signup .form-control:focus {
  border-color: #00ce81;
}
#signupModal .modal-signup .form-control, .modal-signup .btn {
  min-height: 40px;
  border-radius: 3px; 
}
#signupModal .modal-signup .hint-text {
  text-align: center;
  padding-top: 10px;
}
#signupModal .modal-signup .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
#signupModal .modal-signup .btn {
  background: #00ce81;
  border: none;
  line-height: normal;
}
#signupModal .modal-signup .btn:hover, .modal-signup .btn:focus {
  background: #00bf78;
}
#signupModal .modal-signup .modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
  justify-content: center;
}
#signupModal .modal-signup .modal-footer a {
  color: #999;
}
#signupModal .trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
