<div class="container">
  <div class="logo-ci">
    <img src="assets/imgs/ci-logo-trans.png">
    <!-- <h1><i class="fas fa-hashtag fa-sm"></i>Achados&Perdidos</h1> -->
  </div>
  <div class="logo-app">
    <img src="assets/imgs/logo-app-v2.png">
  </div>
</div>
<main ng-controller="PostCtrl as pCtrl" class="container">
  <div class="row">
    <a ng-if="pCtrl.getUser().isValid" id="floatButton" ng-click="pCtrl.addPost()"  href="#" class="float">
      <i class="fa fa-plus my-float"></i>
    </a>
    <section class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
      <ci-post ng-repeat="post in pCtrl.posts" type="{{ post.type }}" description="{{ post.description }}" name="{{ post.name }}"
        contact="{{ post.contact }}" date="{{ post.date }}">
      </ci-post>
    </section>
    <div ng-include="'components/post/modal.html'"></div>
  </div>
</main>
